body{
    margin: 0;
    background-color: rgb(6, 39, 78);
    text-align: center;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

.father{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 199px;
}

.t1{
    color: aliceblue;
    margin: 0;
    padding: 0;
    text-decoration: overline;
    font-style: italic;
}

.cajabx{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin-bottom: 400px;
    margin-left: 470px;
    margin-right: 470px;
    border-radius: 150px;
    border-color: blueviolet 30px;
}

.cajita{
    color: blue;
    text-decoration: none;
    text-align: center;
}

.cajita:hover{
    scale: 1.2;
    text-decoration: underline;

}